

<div class="main">
    
    <h1>{{header}}</h1>
    <div class="form">
    <input id="name" [(ngModel)]="userName" (keyup)='getError($event)' [ngClass]="{'error':nameValid}" type="text" class="inputsLogin" placeholder="Insert Name"/>
    <span *ngIf="nameValid">{{nameError}}</span>
    </div>
    <div class="form">
    <input [(ngModel)]="userMail" id="mail" (keyup)='getError($event)' [ngClass]="{'error':mailValid}" type="text" class="inputsLogin" placeholder="Insert Mail"/>
    <span *ngIf="mailValid">{{mailError}}</span>
    </div>
    <div class="form">
    <input [(ngModel)]="userId" id="id" (keyup)='getError($event)' [ngClass]="{'error':idValid}" type="text" class="inputsLogin" placeholder="Insert Id"/>
    <span *ngIf="idValid">{{idError}}</span>
    </div>
    <div class="bottom">
    <input type="button" (click)='signUp()'  [disabled]="!loginValid" value="Sign Up" class="loginBtn btn btn-success" />
    </div>
    
    </div>
    
