
<div class="topSpace">
<a class="goHome" (click)='goToHomePage()'>Back To Home-Page</a>
</div>
<div class="main">
  <div class="top">
  </div>  
  <div>
<h3>{{user.name}}</h3>

<div class="form">
<span class="mailSpan">Mail</span><br>
 <input type="text" (keyup)='checkValid(user)' [(ngModel)]='user.email' value="{{user.email}}"/><br><br>
</div>  

<div class="form">
<mat-radio-group (change)='checkValid(user)' [(ngModel)]='user.gender'>
  <mat-radio-button class="radioBtn" value="Male">Male</mat-radio-button>
  <mat-radio-button class="radioBtn" value="Female">Female</mat-radio-button>
</mat-radio-group>
</div>

<div class="form">
     Age:<br>  
    <input type="number" (click)='checkValid(user)' (keyup)='checkValid(user)' [(ngModel)]='user.age' value="{{user.age}}" name="quantity" min="18" max="120"><br><br>
</div>  

<div class="form">
    <img src="http://localhost:4000/pictures/{{user.img}}" onError="this.src='./../../../assets/images/userImage.png';" /><br>
    Change Image: <input id='file' type='file' (change)="changeImg($event,user)"><br>
</div>  
<input class="btn btn-success" [disabled]="!editValid" type="button" value='Update' (click)='editUser(user)'/>
  </div>
</div>